/* --- Font and colors --- */

body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	color: white;
	background: linear-gradient(10deg, rgba(2,13,24,1) 0%, rgba(7,24,44,1) 30%, rgba(7,33,66,1) 100%);

}
h1, h2, h3 {
	font-family: 'Rubik', sans-serif;
	letter-spacing: 2px;
}
ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
li {
	float:left;
}
a {
	color: white;
	font-size: 20px;
	transition-property: font-size;
	transition-duration: 400ms;
	transition-timing-function: ease;
	text-align: center;
}
a:hover {
	color: white;
	font-size: 25px;
	text-align: center;
}
nav {
	height: 12vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer {
	background: white;
	color: black;
}
.active {
	display: block !important;
}

/* --- Design --- */

#name {
	font-size: 18px;
	text-align: center;
	margin-left: 33px;
	font-weight: lighter;
}
.social {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 33px;
}
.social-icon {
	height: 40px;
	width: 60px;
	display: flex;
	align-items: center;
}
.card {
	height: 90vh;
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-gap: 10px;
}
#card-text {
	position: relative;
	grid-column: col-start 3 / span 3 ;
}
.card-titre {
	font-size: 10vh;
	margin: 1vh;
}
#card-line {
	height: 4px;
	border-radius: 2px;
	width: 50vh;
	background-color: #ff4d5a;
	margin-left: 2vh;
}
#card-para {
	font-size: 3vh;
	font-weight: bolder;
	margin-left: 2vh;
}
#card-img {
	height: 80vh;
	grid-column: col-start 7 / span 4;
}
.about {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	background-color: white;
	color: black;
}
#about-titre {
	grid-column: 3;
  	grid-row: 1;
}
#about-text {
	margin: 20px 0px 5px 0px;
	text-align: center;
	font-size: 32px;
}
#about-line {
	height: 4px;
	border-radius: 2px;
	width: auto;
	background-color: #ff4d5a;
}
#about-card {
	grid-column: 3;
  	grid-row: 2 / 6;
}
#about-card-avatar {
	height: 120px;
	width: 120px;
	margin: 0px 80px;
	border-radius: 50%;
	background-color: black;
	display: flex;
	align-items: center;
}
#about-card-text {
	text-align: justify;
}
#about-card-text-contacteme {
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #ff4d5a;
	text-decoration: none;
	height: 30px;
}
#tools-title {
	margin: 0px;
	padding: 0px;
	width: 520px;
	grid-column: 5 / 10;
  	grid-row: 1;
}
#tools-title-text {
	margin: 30px 0px 5px 0px;
}
#tools-title-line {
	height: 2px;
	width: 520px;
	background-color: rgb(140, 140,140);
	padding: 0px;
	margin: 0px;
}
#tools-title-line-bold {
	height: 4px;
	width: 140px;
	background-color: rgb(140, 140,140);
	padding: 0px;
	margin: 0px;
	position: relative;
	top: -1px;
	border-radius: 2px;
}
#about-comp {
	width: 520px;
	grid-column: 5 / 10;
  	grid-row: 2;
	display: flex;
	justify-content: space-around;
}
.about-comp-link {
	color: black;
	text-decoration: none;
	font-size: 15px;
	padding: 5px;
	border-radius: 3px;
	width: 107px;
}
.about-comp-link:hover {
	background-color: rgb(200, 200, 200);
	font-size: 15px;
}
.about-comp-img {
	height: 80px;
	width: 80px;
}
.about-comp-tools-titre {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;
	font-weight: bolder;
}
#second-about-comp {
	width: 520px;
	grid-column: 5 / 10;
  	grid-row: 3;
	display: flex;
	justify-content: space-around;
}
#carousel-titre {
	display: flex;
	justify-content: space-around;
}
#carousel-titre h1 {
	text-align: center;
	margin: 20px 0px 5px 0px;
}
#carousel-titre-line {
	height: 4px;
	border-radius: 2px;
	width: auto;
	background-color: #ff4d5a;
}
#carousel {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#card-carousel {
	background-color: linear-gradient(10deg, rgba(2,13,24,1) 0%, rgba(7,24,44,1) 30%, rgba(7,33,66,1) 100%);
}
.carousel-img {
	height: 70vh;
	display: none;
	margin: 50px 0px;
	border-radius: 5px;
}
#right-buttun {
	height: 60px;
	width: 60px;
	background-color: white;
	border-radius: 50%;
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 20px;
	border-width: 0px;
	transition-property: background-color;
	transition-duration: 400ms;
	transition-timing-function: ease;

}
#left-buttun {
	height: 60px;
	width: 60px;
	background-color: white;
	border-radius: 50%;
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 20px;
	border-width: 0px;
	transition-property: background-color;
	transition-duration: 400ms;
	transition-timing-function: ease;

}
#right-buttun:hover {
	background-color: rgb(180, 180, 180);
	color: white;
}
#left-buttun:hover {
	background-color: rgb(180, 180, 180);
	color: white;
}
footer div {
	height: 12vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer h2 {
	font-size: 12px;
	margin: 0px;
	margin-left: 20px;
}
footer .social-icon a {
	color: black;
}

/* --- Responsive Grid --- */


@media (max-width: 1320px) {
	a {
		font-size: 60px;
	}
	a:hover {
		font-size: 60px;
	}
	#name {
		font-size: 35px;
	}
	.social-icon {
		height: 80px;
		width: 90px;
	}
	#card-selector {
		grid-column: col-start / span 2;
		grid-row: 1 / 3;
	}
	.card-titre {
		font-size: 5vh;
	}
	#card-line {
		width: 25vh;
		margin-left: 2vh;
	}
	#card-text {
		grid-column: col-start 3 / span 3;
		height: 50px;
	}
	#card-img {
		margin-top: 70px;
		grid-column: col-start 3 / span 3;
		grid-row: 2;
		height: 35vh;
	}
	#about-titre {
		grid-column: 3 / 11;
	}
	#about-text {
		font-size: 70px;
	}
	#about-card {
		grid-column: 3 / 11;
	  	grid-row: 2 / 6;
	}
	#about-card-avatar {
		height: 150px;
		width: 150px;
		margin: 20px 0px;
	}
	#about-card-text {
		font-size: 15px;
	}
	#about-card-text-contacteme {
		margin-top: 40px;
		font-size: 42px;
	}
	#tools-title {
		grid-column: 3 / 11;
	  	grid-row: 6;
	  	width: 650px;
	}
	#tools-title-line {
  		width: 650px;
	}
	#about-comp {
		width: 650px;
		grid-column: 3 / 11;
	  	grid-row: 7;
	}
	#second-about-comp {
		width: 650px;
		grid-column: 3 / 11;
	  	grid-row: 8;
	  	margin-bottom: 50px;
	}
	.about-comp-link:hover {
		background-color: white;
		color: black;
	}
	footer div {
		height: 10vh;
	}
	footer h2 {
		font-size: 22px;
	}
	.carousel-img {
		height: 20vh;
		border-radius: 5px;
	}
	#right-buttun:hover {
		background-color: white;
		color: black;
	}
	#left-buttun:hover {
		background-color: white;
		color: black;
	}
	#carousel-titre h1 {
		font-size: 50px;
	}
}

/* --- Carousel --- */
